* {
  primary: #2A2E37;
  secondary: #FFFF8D;
  primarytext: #B2B2B2;
  blue: #1976D2;
  red: #FF0000;
  color-1: #1976D2;
}

.root {
  -fx-background-color: primary;
}

.text-field {
  -fx-background-color: derive(primary, 20%);
  -fx-text-fill: derive(secondary, 20%);
}

.text-field:hover {
  fx-text-fill: secondary;
}

.text-field:focused {
  fx-text-fill: secondary;
}

.label {
  -fx-background-color: primary;
  -fx-text-fill: primarytext;
}

.label:hover {
  fx-text-fill: secondary;
}

.label:focused {
  fx-text-fill: secondary;
}

.package-view-forward-edge {
  -fx-fill: none;
  -fx-stroke-width: 3;
  -fx-stroke: green;
}

.package-view-forward-edge:hover {
  fx-opacity: 1;
  fx-stroke-width: 5;
  fx-scale-x: 1.05;
  fx-scale-y: 1.05;
}

.package-view-backwards-edge {
  -fx-fill: none;
  -fx-stroke-width: 3;
  -fx-stroke: red;
}

.package-view-backwards-edge:hover {
  fx-opacity: 1;
  fx-stroke-width: 5;
  fx-scale-x: 1.05;
  fx-scale-y: 1.05;
}

.main-view-container {
  -fx-background-color: primary;
  -fx-border-color: secondary;
  -fx-border-radius: 2;
}

.button1 {
  -fx-text-fill: primarytext;
  -fx-background-color: primary;
  -fx-border-color: secondary;
  -fx-border-radius: 0;
  -fx-background-radius: 0;
  -fx-pref-height: 400;
}

.button1:hover {
  -fx-background-color: secondary;
  -fx-text-fill: primary;
}

.rectbutton {
  -fx-text-fill: primarytext;
  -fx-background-color: primary;
  -fx-border-color: secondary;
  -fx-border-radius: 0;
  -fx-background-radius: 0;
}

.rectbutton:hover {
  -fx-background-color: secondary;
  -fx-text-fill: primary;
}

#circle-segment {
  -fx-fill: rgb(128,128,128);
  -fx-stroke-width: 2;
  -fx-stroke: rgb(0,0,0);
  -fx-opacity: 0.6;
}

#circle-segment:hover {
  -fx-opacity: 1;
  -fx-fill: white;
  -fx-scale-x: 1.1;
  -fx-scale-y: 1.1;
}

#chord-segment {
  -fx-fill: rgb(128,128,128);
  -fx-stroke-width: 1;
  -fx-stroke: rgb(255,255,255);
  -fx-opacity: 0.5;
}

#chord-segment:hover {
  -fx-opacity: 1;
  -fx-fill: white;
  -fx-scale-x: 1.1;
  -fx-scale-y: 1.1;
}